@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');

* {
	-fx-font-family: "Jersey 10";
	-fx-font-size: 20;
}

.button {
	-fx-border-radius: 0px;
}

/* STYLIZE EVERY CHILDS WITH WHITE*/
.button > * { -fx-fill: white; }

.primary { -fx-background-color: #28109E; }
.secondary { -fx-background-color: #A8A8A8; }